.text{
    display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
    font-size: 30px;
    font-family: 'Trebuchet MS';
}

.games{
    display: flex;
	align-items: center;
	justify-content: center;
	height: 5vh;
    font-size: 25px;
    font-family: 'Trebuchet MS';
}

.games-title{
    font-weight: bold;
}

.feature-button {
	padding: 10px 20px;
	margin: 10px;
	font-size: 20px;
	border-radius: 5px;
	background-color: #c82b2b;
	color: white;
	border: none;
	cursor: pointer;
    position: absolute;
    top:0;
    left:0;
}