body{
    font-family: 'Roboto', sans-serif;
    background-color: steelblue;
}

html{
    width: 100vw;
    height: 100vh;
}

.header{
    margin-top: 25px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.header-container{
    display: grid;
    place-items: center;
}


.main-container{
    display: flex;
    align-items: center;
    width: 1500px;
    height: 500px;
    margin-bottom: 100px;
}

.homepage-pic{
    margin-top: 100px;
    margin-bottom: 25px;
    border-radius: 5px;
    margin-left: 25px;
    width: 50vw;
    height: 70vh;
}

.pic:hover{
    cursor: pointer
}

.text-container {
    width: 900px;
    text-align: left;
}

.text {
    width: 450px;
    right: 150px;
    margin-top: 20vh;
    margin-left: 5vw;
    font-size: 35px;
    word-wrap: break-word;
}

.pic-save{
    margin-left: 150px;
}

.footer{
    display: grid;
    place-items: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.btn{
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 15px;
    word-wrap: break-word;
    width: 150px;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background: transparent;
    border: solid;
    border-width: 1px;
    color: #ffffff;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .main-container {
      flex-direction: column;
      width: auto;
      height: auto;
    }
  
    .homepage-pic {
      width: 80vw;
      height: auto;
      margin: 25vw;
    }
  
    .text-container {
      width: 80vw;
      text-align: center;
    }
  
    .text {
      width: auto;
      margin: 10px;
      font-size: 25px;
    }
  }
