/* Default styles */

body {
  font-family: 'Roboto', sans-serif;
  background-color: steelblue;
}

.header {
  margin-top: 25px;
  font-size: 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.homepage-pic {
  margin: 25px;
  width: 80vw;
  height: auto;
}

.text {
  margin: 25px;
  font-size: 25px;
  text-align: center;
}

/* Media query for small screens */

@media only screen and (max-width: 768px) {
  .text {
    font-size: 20px;
  }
}
