body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #e32b28 0%, #eec600 100%);
}

.header{
    margin-top: 25px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.header-container{
    display: grid;
    place-items: center;
}


.main-container{
    display: flex;
    align-items: center;
    width: 1500px;
    height: 500px;
    margin-bottom: 250px;
    
}

.pic{
    margin-bottom: 25px;
    border-radius: 5px;
    margin-left: 30px;
    width: 750px;
    height: 250px;
}

.pic:hover{
    cursor: pointer
}

.score-card-pic{
    width: 30vw;
    height: 80vh;
}

.front-top{
    width: 25vw;
    height: 80vh;
}

.text-container-side {
    right: 150px;
    width: 1500px;
    text-align: right;
}

.text-container-example{
    right: 150px;
    width: 1000px;
    text-align: right;
}

.text {
    margin-top: 150px;
    margin-left: 300px;
    font-size: 35px;
    word-wrap: break-word;
}

.pic-save{
    margin-left: 150px;
}

.footer{
    display: grid;
    place-items: center;
    font-size: 25px;
    margin-bottom: 25px;
}

.btn{
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 15px;
    word-wrap: break-word;
    width: 150px;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background: transparent;
    color: white;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
}