body {
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-top: 25px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: grid;
    place-items: center;
}

.main-container {
    display: flex;
    flex-direction: column; /* Stacking elements vertically */
    align-items: center;
    width: 90vw;
    height: auto; /* Allowing height to adjust based on content */
    margin-bottom: 250px;
}

.pic {
    margin-bottom: 25px;
    border-radius: 5px;
    margin-left: 30px;
    width: 40vw;
    height: auto; /* Allowing images to adjust height based on width */
}

.pic:hover {
    cursor: pointer;
}

.text-container {
    margin-left: 8vw;
    width: 800px;
    text-align: center;
}

.text-container-timeline {
    margin-left: 20vw;
    width: 600px;
    text-align: right;
}

.text-container-example {
    right: 150px;
    width: 1000px;
    text-align: right;
}

.text {
    margin-top: 20px; /* Adjust as needed */
    font-size: 35px;
    word-wrap: break-word;
    text-align: center;
}

.pic-save {
    margin-left: 150px;
}

.footer {
    display: grid;
    place-items: center;
    font-size: 25px;
    margin-bottom: 25px;
}

.btn {
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 15px;
    word-wrap: break-word;
    width: 150px;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #333333;
    color: #ffffff;
    border-radius: 4px;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        width: 90vw;
        height: auto;
        margin-bottom: 150px;
    }

    .header-title{
        margin-top: 30vh;
        margin-left: 5vw;
    }



    .pic,
    .score-card-pic {
        width: 80vw;
        height: auto;
        margin-left: -5vw;
        margin-bottom: 20px;
    }

    .text-container,
    .text-container-timeline,
    .text-container-example {
        margin-right: 40vw;
        width: 80vw;
        text-align: center;
    }

    .text {
        margin-top: 5vh;
        font-size: 25px;
    }

    .pic-save {
        margin-left: 10px;
    }

    .footer {
        font-size: 20px;
    }
}
