body {
    font-family: 'Roboto', sans-serif;
    background-color: steelblue;
}

html {
    width: 100vw;
    height: 100vh;
}


.header {
    margin-top: 25px;
    margin-left: 10vw;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: grid;
    place-items: center;
}

.main-container {
    display: flex;
    flex-direction: column; /* Stacking elements vertically */
    align-items: center;
    width: 90vw;
    height: auto; /* Adjusted to auto for responsiveness */
    margin-bottom: 100px;
}

.homepage-pic {
    margin-top: 100px;
    margin-bottom: 25px;
    border-radius: 5px;
    margin-left: 25px;
    width: 900px;
    height: 400px;
}

.pic:hover {
    cursor: pointer;
}

.text-container {
    width: 90vw;
    text-align: left;
}

.text {
    width: 90vw;
    margin-top: 20px; /* Adjusted for responsiveness */
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    word-wrap: break-word;
}

.pic-save {
    margin-left: 150px;
}

.footer {
    display: grid;
    place-items: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.video{
    width: 50vw;
    height: 25vh;
}

.btn {
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 15px;
    word-wrap: break-word;
    width: 150px;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background: transparent;
    border: solid;
    border-width: 1px;
    color: #ffffff;
    border-radius: 4px;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .header {
        font-size: 35px;
        margin-left: 5vw;
    }

    .main-container {
        margin-bottom: 50px;
    }

    .homepage-pic {
        width: 90vw;
        height: auto;
        margin-left: 5vw;
        margin-bottom: 20px;
    }

    .header-text{
        margin-top: 30vh;
    }

    .text-container {
        width: 90vw;
        text-align: center;
    }

    .text {
        width: 90vw;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        text-align: center;
    }

    .pic-save {
        margin-left: 10px;
    }

    .footer {
        font-size: 20px;
    }
}
