body{
    font-family: 'Roboto', sans-serif;
}

html{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, #0000ff 0%, #0000b2 100%);
}

.header{
    margin-top: 25px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.header-container{
    display: grid;
    place-items: center;
}


.main-container{
    display: flex;
    align-items: center;
    width: 1500px;
    height: 500px;
    margin-bottom: 100px;
}

.homepage-pic{
    margin-top: 100px;
    margin-bottom: 25px;
    border-radius: 5px;
    margin-left: 25px;
    width: 900px;
    height: 550px;
}

.pic:hover{
    cursor: pointer
}

.text-container {
    width: 900px;
    text-align: left;
}

.text {
    width: 450px;
    right: 150px;
    margin-top: 150px;
    margin-left: 5vw;
    font-size: 35px;
    word-wrap: break-word;
}

.pic-save{
    margin-left: 150px;
}

.footer{
    display: grid;
    place-items: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.btn{
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 15px;
    word-wrap: break-word;
    width: 150px;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background: transparent;
    color: white;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
}

@media (max-width: 750px) {
    .body {
        font-family: 'Roboto', sans-serif;
      }
      
      html {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(to top, #0000ff 0%, #0000b2 100%);
      }
      
      .header {
        margin-top: 25px;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
      }
      
      .header-container {
        display: grid;
        place-items: center;
      }
      
      .main-container {
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: center;
        justify-content: flex-start; /* Align items at the top */
        margin-bottom: 100px;
        margin-top: 100px; /* Add margin-top to move the whole container down */
      }
      
      .homepage-pic {
        border-radius: 5px;
        width: 900px;
        height: 550px;
      }
      
      .pic:hover {
        cursor: pointer;
      }
      
      .text-container {
        width: 900px;
        text-align: left;
        margin-top: 25px; /* Add margin-top to create space between the image and text */
      }
      
      .text {
        width: 450px;
        font-size: 35px;
        word-wrap: break-word;
      }
      
      .pic-save {
        margin-top: 25px; /* Add margin-top to create space between the text and the save button */
      }
      
      .footer {
        display: grid;
        place-items: center;
        font-size: 25px;
        margin-bottom: 15px;
      }
      
      .btn {
        font-size: 15px;
        position: absolute;
        top: 10px;
        left: 15px;
        word-wrap: break-word;
        width: 150px;
        margin: 10px;
        padding: 10px 20px;
        text-decoration: none;
        background: transparent;
        color: white;
        border: solid;
        border-width: 1px;
        border-radius: 4px;
      }

} 