/* Common styles */

body {
    font-family: 'Roboto', sans-serif;
    background: blue;
  }
  
  html {
    height: 100vh;
    width: 100vw;
    
  }
  
  .header {
    margin-top: 2vh;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
  }
  
  .header-container {
    display: grid;
    place-items: center;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  
  .homepage-pic {
    margin-top: 100px;
    margin-bottom: 25px;
    border-radius: 5px;
    margin-left: 25px;
    width: 80vw;
    height: 60vh;
    object-fit: cover; /* Ensure the image maintains aspect ratio and covers the container */
  }
  
  .pic:hover {
    cursor: pointer;
  }
  
  .text-container {
    width: 900px;
    text-align: left;
  }
  
  .text {
    width: 80vw;
    right: 150px;
    margin-top: 5vh;
    margin-left: 1vw;
    font-size: 35px;
    word-wrap: break-word;
  }
  
  .pic-save {
    margin-left: 150px;
  }
  
  .footer {
    display: grid;
    place-items: center;
    font-size: 25px;
    margin-bottom: 3vh;
  }
  
  .btn {
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 15px;
    word-wrap: break-word;
    width: 150px;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background: transparent;
    color: white;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  
  /* Media Queries for mobile responsiveness */
  
  @media (max-width: 768px) {
    .header-text{
        margin-left: 60vw;
        font-size: 35px;
    }

    .main-container {
      margin-top: 50px;
    }
  
    .homepage-pic {
        width: 100%;
        height: 60%;
        object-fit: contain; /* Make the image fit within the container while maintaining aspect ratio */
        border-radius: 0; /* Remove border-radius on mobile */
    }
  
    .text-container {
      width: 90%;
      padding: 0 5%;
    }
  
    .text {
      width: 100%;
      font-size: 28px;
    }
  
    .pic-save {
      margin-left: 5%;
    }

    .footer{
        margin-bottom: 3vh;
    }
  }
  